$toast-width: 320px;
$toast-background: #FFFFFF;
$toast-min-height: 72px;
$toast-max-height: 600px;

$color-default: #AAAAAA;

$bg-color-default: #FFFFFF;
$bg-color-info: #17A2B8;
$bg-color-success: #28A745;
$bg-color-warning: #FFC107;
$bg-color-error: #DC3545;

$font-family-default: sans-serif;
$z-index-default: 9999;